<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/detalleProducto.css">
    <title>Productos</title>
</head>
<body>
        
        <!-- Menú desplegable -->
        <%- include ('../partials/navbar')%>
    
    <main>
        <div class="prueba">
        <section class="principal-producto">

                <img class="remera" src="/images/productosporcategoria/<%=idProducto.imagen %>" alt="remera"> 
            <div class="pieProducto"> 
                <p class="nombre-remera"><%= idProducto.nombre %></p>
                <div class="marco-remera">
                <p class="nombre-precio">Precio:<%= idProducto.precio %></p>
                </div>
            </div>
        </section>
        <section class="contenedor-secundario">
            <div class="secundario-producto">
                <img class="remera-secundario" src="/images/productosporcategoria/<%=idProducto.imagen %>" alt="remera-secundario">
                <img class="remera-secundario" src="/images/productosporcategoria/<%=idProducto.imagen %>" alt="remera-secundario">
                <img class="remera-secundario" src="/images/productosporcategoria/<%=idProducto.imagen %>" alt="remera-secundario">
                <img class="remera-secundario" src="/images/productosporcategoria/<%=idProducto.imagen %>" alt="remera-secundario">
            </div>
        </section>
        <section class="detalle">
            <label for="talle">Talle:</label>
            <select name="talle" class="forma">
                <% idProducto.talles.forEach(talle => { %>
                    <option value="<%= talle.id %> "><%= talle.nombre %> </option>
                <% }) %>
            </select>
            <form class="contenedor-color">
                <label for="genero">Genero:</label>
                <select name="genero" class="forma">
                    <% idProducto.generos.forEach(genero => { %>
                        <option value="<%= genero.id %> "><%= genero.nombre %> </option>
                    <% }) %>
                </select>             
            </form>       
        </section>
        <section class="disponible">
            <p class="subdisponible">Artículo: <%= idProducto.estado %></p>
            <div class="iconos-envios">
                <div class="camion-contenedor">
                    <i class="fa-solid fa-truck"></i><p class="costo">Costo de envíos</p>
                </div>
                <div class="reembolso-contenedor">
                    <i class="fa-solid fa-sack-dollar"></i><p class="reembolso">Reembolsos</p>
                </div>
            </div>
        </section>
        <div class="contenedor-agregar">
        <button class="agregar" type="submit">Agregar al carrito</button>
        </div>
    </div>
        <% if (locals.logged && userLogged.tipoUsuario.tipo === "admin") { %>
            <button class="editar-producto"><a href="/editar/<%= idProducto.id%>">Editar Producto</a></button>
        <% } %>
         
        <form class="eliminar-producto" action="/eliminarProducto/<%= idProducto.id%>?_method=DELETE" method="POST" style="display: inline-flex">
            <% if (locals.logged && userLogged.tipoUsuario.tipo === "admin") { %>
                <button type="submit" class="action-button delete">Eliminar producto</button>
            <% } %>
        </form>
    </main>

    <!-- Footer --> 
    <%- include ('../partials/footer')%>
</body>
</html>