<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>URSUS - Categorías</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
        <link rel="stylesheet" href="/css/normalize.css">       
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css"/>  
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/glider-js@1.7.7/glider.min.css"> 
        <link rel="stylesheet" href="/css/productosporcategoria.css">        
    </head>

        <!-- Menú desplegable -->
        <%- include ('../partials/navbar')%>
       
<body>
    <section>
        <% producto.forEach(producto => { %>
            <div class="categorias">
               <h2 class="remeras"></h2>
               <a href="categorias/detalle-producto/<%= producto.id %>"><img src="/images/productosporcategoria/<%=producto.imagen%>" alt="categoría-remeras"></a>
               <h2><a><%= producto.nombre %></a></h2>
            </div>
            <% }) %> 
     </section>
</body>

     <!-- Footer --> 
     <%- include ('../partials/footer')%>

</html>